<PRE>
<!--
    (c) Copyright 2020 CERN for the benefit of the LHCb Collaboration

    This software is distributed under the terms of the GNU General Public
    Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING".

    In applying this licence, CERN does not waive the privileges and immunities
    granted to it by virtue of its status as an Intergovernmental Organization
    or submit itself to any jurisdiction.
-->
 Package     : Vis/Panoramix
 Responsible : Guy Barrand
 Purpose     : LHCb visualization project
</PRE>
<H1><A NAME="v30r0">2020-03-16 - Panoramix v30r0</A></H1><PRE>
    Based on Gaudi v33r0, suitable to visualize the LHCb Upgrade geometry.

<H1><A NAME="v23r2">2016-05-17 - Panoramix v23r2</A></H1><PRE>
      based on GAUDI_v27r1, uses OpenScientist 17.0.2
! 2016-05-17 - Thomas Ruf
 add support for fitting Hlt2/Turbo tracks
! 2016-01-19 - Thomas Ruf
! 2014-03-03 - Thomas Ruf
! 2013-07-30 - Thomas Ruf
! 2013-05-14 - Thomas Ruf
! 2013-01-17 - Thomas Ruf
! 2012-11-14 - Thomas Ruf
! 2012-09-14 - Thomas Ruf
! 2012-07-06 - Thomas Ruf
  don't configure TAE decoding for BareConfig == 1 
! 2012-02-17 - Thomas Ruf
  change config to latest DSTCONF convention 
! 2012-01-27 - Thomas Ruf
  remove any use of old Gaudi ParticlePropertySvc
  take latest patches from DaVinciSys
! 2011-11-28 - Thomas Ruf
  - new version to fix glitch in release procedure
! 2011-11-22 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2011-09-23 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2011-07-18 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2011-05-13 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2011-02-23 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2011-02-13 - Chris Jones
 - Replace processing with pytools in requirements
! 2010-11-15 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
  - and latest fix to HltRaw and TisTos package
! 2010-10-11 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2010-09-21 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2010-08-04 - Thomas Ruf
  - using latest packages and patches as DaVinci / Brunel
! 2010-07-15 - Thomas Ruf
  - using latest packages and patches as DaVinci
! 2010-06-01 - Thomas Ruf
  - using latest packages and patches as DaVinci
! 2010-05-05 - Thomas Ruf
  - using latest packages and patches as DaVinci
! 2010-04-14 - Thomas Ruf
  - using latest packages and patches as DaVinci
! 2010-03-16 - Thomas Ruf
  - on top of latest LHCb software releases
! 2010-02-18 - Thomas Ruf
  -
! 2009-12-17 - Thomas Ruf
  last release for 2009 
! 2009-12-04 - Thomas Ruf
  added forward of DataType to RecSys, needed for MuonID
! 2009-12-03 - Thomas Ruf
  patch release to get latest CondDB by default
! 2009-11-20 - Thomas Ruf
  patch release to fix bugs in LHCbAlgs

! 2009-11-20 - Thomas Ruf

! 2009-09-15 - Thomas Ruf
 - requirements: removed special patches to be in line with DaVinci v24r2p1
 - fixed PanoramixSys configurable to include PhysConf in list of used configurables
! 2009-07-20 - Thomas Ruf
 - requirements: add support for using tmalloc option
     and parallel processing module
! 2009-07-15 - Thomas Ruf
 - Configurable: introduce DataType to be entered from command line
 

! 2009-05-29 - Thomas Ruf
 - Configurable: introduce 2009 datatype
 - move configuration of LHCbApp to myPanoramix to allow to be changed by user
 opts
!================================ Panoramix v17r2  ============================

!================================ Panoramix v17r1  ============================

!================================ Panoramix v17r0  ============================
! 2009-05-13 - Thomas Ruf
 - Configurable: DstConf().Simulation -> DstConf().SimType
!================================ Panoramix v16r4  ============================
! 2009-03-02 - Thomas Ruf
 - added AnalysisConf to Configurables
 - added temporarly as a patch L0DU v8r14
!================================ Panoramix v16r3  ============================
!================================ Panoramix v16r2  ============================
!================================ Panoramix v16r1  ============================
!================================ Panoramix v16r0  ============================
!================================ Panoramix v15r15 ============================
!================================ Panoramix v15r14 ============================
!================================ Panoramix v15r13 ============================
!================================ Panoramix v15r11 ============================
!================================ Panoramix v15r10 ============================
!================================ Panoramix v15r9 ============================
! 2007-12-19 - Thomas Ruf
! added use XmlVis v1r1
!================================ Panoramix v15r8 ============================
! 2007-11-01 - Thomas Ruf
!================================ Panoramix v15r7 ============================
! 2007-09-27 - Thomas Ruf
!================================ Panoramix v15r6 ============================
! 2007-08-06 - Thomas Ruf
!================================ Panoramix v15r5 ============================
! 2007-06-18 - Thomas Ruf
!================================ Panoramix v15r4 ============================
! 2007-05-25 - Thomas Ruf
!================================ Panoramix v15r3 ============================
! 2007-05-02 - Thomas Ruf
 - modified callbacks.cpp / next_event to call a python script for printing
   event and run number. Removes issue of missing MCHeader for RAW data

! 2007-05-02 - Christopher Rob Jones
 - Set JOBOPTPATH to $PANORAMIXROOT/options/Panoramix.opts via requirements in
   order to have a correct default job options file when using GaudiMain.cpp

! 2007-04-27 - Chris Jones
 - Include PanoramixVis.opts first in Panoramix.opts, to cure so strange
   problem in QT mode

! 2007-04-27 - Chris Jones
 - Reorganise the Rich menu items to use python scripts, removing the Rich.cpp
   based menus. Update various example scripts to also uses these new scripts.
 - Update cmt requirements to use main from (GAUDICONFROOT)/src/GaudiMain.cpp

! 2007-04-27 - Chris Jones
 - Include PanoramixVis.opts first in Panoramix.opts, to cure so strange
   problem in QT mode

! 2007-04-27 - Chris Jones
 - Reorganise the Rich menu items to use python scripts, removing the Rich.cpp
   based menus. Update various example scripts to also uses these new scripts.
 - Update cmt requirements to use main from (GAUDICONFROOT)/src/GaudiMain.cpp

! 2007-04-25 - Guy Barrand
 - Panoramix.onx : add the create callback :
     <create exec="Python">from OnX import x</create>
   to have the "x" def at startup from the Panoramix Python prompt.

! 2007-04-24 - Thomas Ruf
 - added an example for a Panoramix configuration startup script taking arg
   from command line: examples/Python/myPanoramix.py

! 2007-04-18 - Thomas Ruf
 - Calo_viewer.py bug fixed
 - added Event_info.py to print MC and Rec headers
 - added Panoramix_Hlt.opts for running Hlt
 - updated Panoramix.opts and PanoramixVis.opts (include SoRich)

! 2007-04-04 - Guy Barrand
 - gb_test_rich_ring.py, Test.onx :
   to test the inside/ouside vis of Rich rings.
 - Panoramix.py : Style.setShape method to set modeling.shape.

! 2007-04-04 - Thomas Ruf
 - added a method to dump list of AIDA histograms together with their title
   in gaudigadgets.py: histo_dump(appMgr.histSvc())
! 2007-04-03 - Thomas Ruf
 - corrected a bug in gaudigadgets affecting doxygen page for Gaudi classes
 - adding automatic genereation of Enum dictionaries for a given class name
   TrackEnums = getEnumNames('LHCb::Track')
   TrackEnums['Types'][4]

!======================== OnXSvc v9r2 ==================================
! 2007-04-23 - Guy Barrand
 - OnXSvc.cpp : filter out cmd line args coming from Gaudi to keep
   only the ones relevant to OnX::Main.

! 2007-03-24 - Guy Barrand
 - OnXSvc.cpp : load OnX Python module after creation of OnX::Main.
   This permits that :
     import OnX
     OnX.session()
   finds the session in case OnX is started by Gaudi (then from C++)
   and in case the user did not have executed yet a Python callback.
    Then with that something like :
     OS> <setup Panoramix>
     OS> cd Panoramix/<ersion>/options
     OS> python
     >>> import pmx
     >>> pmx.start('gb_test_gui.opts') # then load OnX from Gaudi/C++
     >>> pmx.toui()                    # give control to the GUI and File/Exit
     >>> import OnX
     >>> OnX.session().ui().steer()    # Should find the session and then
                                       # give back control to the GUI


!========================== RootSvc v2r1 ===============================
! 2007-04-18 - Florence Ranjard
 - fix requirements to work with CMT v1r19 and v1r20

!========================== SoRich v5r2 2007-04-25 ===================
! 2007-04-27 - Chris Jones
 - Updates to fix how shape properities are passed around to help avoid
   conflicts
 - Updates for new RichSmartID tool interface

! 2007-04-25 - Chris Jones
 - fix tool registry
!========================== SoRichRec v5r2 2007-04-25 ======================
! 2007-04-27 - Chris Jones
 - Updates to fix how shape properities are passed around to help avoid
   conflicts

! 2007-04-24 - Guy Barrand
 - commit RichRecRing* with rep center, inside, outside. See
   Panoramix/examples/Python/gb_test_rich_rings.py for an example.
 - tag RichRecRing* with before_rep_center_inside_outside before committing
   version handling separate "rep" : center, inside, outside.

! 2007-04-23 - Guy Barrand
 - RichRecPhotonRep.cpp, RichRecPixelRep.cpp, RichRecSegmentRep.cpp :
   rm OSC_15 code.

!=========================== SoEvent v7r3 =====================================
! 2007-05-02 - Thomas Ruf
 - EventType, comment complain about missing MCHeader, confusing if reading raw data
   Still needs proper use of ODIN header in case it exists

!===========================================================================
<H1><A NAME="v15r2">2007-03-15 - Panoramix v15r2</A></H1><PRE>
                based on GAUDI_v19r2, LHCB_v22r2, REC_v4r2, PHYS_v6r0
                uses ParamFiles v5r0, XmlDDDB
                uses OpenScientist v16r0

!================================== Panoramix v15r2 =========================
! 2007-03-15 - Florence RANJARD
 - use ROOT 5.14.00d
   remove Phys and Rec tags, use Analysis

! 2007-03-13 - Guy Barrand
 - remove specific OSC_15 code (then rm the #ifdef OSC_VERSION_16_0).
 - MC_Viewer.cpp, requirements : a DLD compiled version of MC_Vieer.py. At least
 it works...
 - Helpers.h : mv find_<xxx> from Callbacks.cpp, Phys.cpp, etc... in this file.

! 2007-03-12 - Guy Barrand
 - Panoramix.py : for Python wrapping consisteny, do not use
   uiSvc().session() and pass through the OnX module to get
   the session and the ui.

!======================= SoStat v6r1 ===================================
! 2007-03-12 - Guy Barrand
 - SoHistogramCnv : load RootSvc only if needed. Else mess at the
   level of Panoramix job options with the startup of ROOT.

!======================== OnXSvc v9r1 ===================================
! 2007-03-15 - Florence Ranjard
 - fix IUserInterfaceSvc.h to include GaudiKernel files instead of Kernel files

!======================= OSCONX v16r0p2 ==============================
! 2007-03-19 - Florence Ranjard
 -  in OSCONC_linkopts and OSCIV_linkopts: encapsulate the list of libraries in
    -Wl,--no-as-needed ...  -Wl,---as-needed

!==================== SoCalo v8r1 =========================================
! 2007-03-19 - Florence Ranjard
 - update code for use with LHCB v22r2

! 2007-02-02 - Florence Ranjard
 - added support for display of MCParticles associated to a EcalDigit
   CaloDigitType.cpp, .h and requirement file to get linkerevent
   CaloClusterType.cpp, .h

!======================== SoDet v7r1 ===================================
! 2007-03-19 - Florence Ranjard
 - update the code to agree with LHCB v22r2

!=========================== SoEvent v7r2 =====================================
! 2007-03-19 - Florence Ranjard
 - fix the code for LHCB v22r2

! 2007-03-15 - Florence RANJARD
 - remove use of PhysDict which does not exist in PHYS_v6r1

!========================== SoRich v5r1 2007-03-19 ====================
! 2007-03-19 - Florence Ranjard
 - - fixes for changes in LHCB v22r2

!========================== SoRichRec v5r1 2007-03-19 ====================
! 2007-03-19 - Florence Ranjard
 - - fixes for changes in LHCB v22r2

!=========================== SoUtils v3r2 ================================
! 2007-03-15 - Florence RANJARD
 - remove use of LHCbDefinitions which has been removed from LHCB_v22r2


!============================================================================
<H1><A NAME="v15r1">2007-03-05 - Panoramix v15r1</A></H1><PRE>
                based on GAUDI_v19r1, LHCB_v22r1, REC_v4r1, PHYS_v5r1
                uses ParamFiles v5r0, XmlDDDB v30r14
                uses OpenScientist v16r0

!======================== MCEvent v2r0p2 2007-03-02 ==========================
                          is built on v2r0p1b branch
! 2007-03-02 - Florence Ranjard for Pere Mato
 - Added dictionary for std::vector<const LHCb::MCParticle*> needed by
   DecayFinder and other tools from Python

!========================= SoRich v5r0 2007-03-06 =====================
! 2007-03-06 - Chris Jones
 - Fixes for changes to RICH packages in LHCB v22r1

!========================= SoRichRec v5r0 2007-03-06 =====================
! 2007-03-06 - Chris Jones
 - Fixes for changes to RICH packages in LHCB v22r1

!====================== VisSvc v5r0 2007-03-05 =============================
! 2007-03-05 - Marco Clemencic
 - Updated following the changes in LHCb v22r1 XmlTools

!========================= SoUtils v3r1 =================================
! 2007-02-23 - Pere Mato
 - added 'const' to the string parameter in SoUtils::SoTools::parameterValue().
   This change allows in python to pass a native python string (unmutable) as
   argument.

!==================================== Panoramix v15r1 ========================
! 2007-02-20 - Florence Ranjard
 - examples/Python/truf_Panoramix.py
   from ROOT import gSystem
   gSystem.Load('libMathCore')
   Panoramix was stuck in a loop when trying to load a DLL which was
   requirering MathCore. Since MathCore DLL contains its own dictionary
   it was trying to load itself through the dictionary.
   the solution is to load first libMathcore and then to load everything else.
 - scripts/Python - remove explicit loaddict no longer necessary

!===================== OnXSvc v9r0 ====================================
! 2007-02-29 - Florence Ranjard
 - apply_pattern component library instead pf linker_library to buld rootmap
 - remove ApplicationMgr.DLLs += {'OnXSvc' }; no longer necessary

!=========================== SoEvent v7r1 =====================================
! 2007-03-02 - Thomas Ruf.
- slight modification in SoTrackCnv for display of upstream tracks.

!===========================================================================
<H1><A NAME="v15r0">2007-02-02 - Panoramix v15r0</A></H1><PRE>
                based on GAUDI_v19r1, LHCB_v22r0, REC_v4r0, PHYS_v5r0
                uses ParamFiles v5r0, XmlDDDB v30r14
                uses OpenScientist v16r0

!======================= Panoramix v15r0 ================================
! 2007-02-02 - Florence RANJARD
 - options - remove all ApplicationMgr.DLLs which are no longer necessary

! 2006-12-21 - Guy Barrand
 - gb_test_picked_objects.py, Test.onx : Python example to work
   on picked objects.

! 2006-12-21 - Guy Barrand
 - Panoramix.onx : create callback : exec OnXLab_Initialize instead
   of Lab_Initialize.
 - Callback.cpp, Phys.cpp : InputParticle_update_locations : find the
   list of Particles in /Event/Phys and update the InputParticle palette.

! 2006-12-21 - Thomas Ruf.
- added a Calo viewer to the event menu
- simplified access to MC and Track viewer, removed intermediate menus
! 2006-12-19 - Thomas Ruf.
- minor change in Callbacks.cpp to solve issue with visualize_velo.
- modified all truf_xxx python scripts to be conform with new OSC-16
  NOT backwards compatible with OSC-15.
! 2006-12-19 - Thomas Ruf.
- minor change in Layout.cpp to get the Velo modules right.

! 2006-12-19 - Guy Barrand.
- InputParticle.onx : have a create callback for the list of locations.
  (Cowork with Panoramix/source/Phys.cpp file).

! 2006-12-12 - Guy Barrand.
 - OSC-16 :
   . swap Pages_osc_16.onx to Pages.onx
   . swap Panoramix_osc_16.py to Panoramix.py
   . remove OnX.py
   Keep for a while (just in case) a copy of these files under xxx_osc_15.

! 2006-12-11 - Chris Jones
 - Fix data location in Rich.cpp

! 2006-12-1 - Guy Barrand
 - Callbacks.cpp : gaudi_histo_example : protect against double histo
   creation ; else crash.
 - Callbacks.cpp, scripts/OnX/InputNextEventScripts.onx :
   have the event_raw_all callback with a maximum of "Raw" data
   to check overall speed.

! 2006-12-08 - Thomas Ruf
 - improved Panoramix_DaVinci to make standardparticles

!====================== VisSvc v4r0 2007-01-12 =============================
! 2007-01-12 - Florence RANJARD
 - install include files on InstallArea

! 2006-12-21 - Guy Barrand
 - VisSvc_load.cpp : use standard Gaudi cpp macros.
 - Det_[dll,load].cpp -> VisSvc_[dll,load].cpp.

!========================== SoUtils v3r0 ================================
! 2007-02-02 - Florence RANJARD
 - apply_pattern install_more_includes

!======================= SoStat v6r0 ======================================
! 2007-02-02 - Florence RANJARD
 - move *.h from SoStat to src
 - use macro DECLARE_XXX_FACTORY to use new PluginManager

!========================== RootSvc v2r0 =============================
! 2007-02-02 - Florence RANJARD
 - apply_pattern install_more_includes
 = use macro DECLARE_XXXX_CONVERTER to use new PluginManager

!====================== OSCONX v16r0p1 ================================
! 2007-01-18 - Florence Ranjard
 - remove -lz for tag slc4-ia32

!===================== OnXSvc v9r0 ====================================
! 2007-01-18 - Florence Ranjard
 - apply_pattern install_more_includes
 - OnXSvc_osc_16.cpp, SoConversionSvc.cpp - fix for Gaudi v19r*

! 2006-12-21 - Guy Barrand
 - revisit the addRef/release of services.

!======================= SoHepMC v6r0 ===================================
! 2007-01-19 - Florence Ranjard
 - requirements - remove include_dirs
                  apply pattern component_library
 - SoHepMC - move *.h to src/
 - src - modify the code to cope with Gaudi v19r0

! 2006-12-21 - Guy Barrand
 - revisit the addRef/release of services.

!======================== SoDet v7r0 ====================================
! 2007-01-18 - Florence Ranjard
 - move all include files to src, remove include_dirs, update *.cpp and *.h
   accordingly
 - fix SoDet*.cpp for Gaudi v19r*

! 2006-12-21 - Guy Barrand
 - Detector.onx : comment out the "Erase all and cache" menu item.
   Too crashy. Not yet fixed.
 - revisit the addRef/release of services.

! 2006-12-13 - Guy Barrand.
- Type : MagField : optimize : use SoStyleCache.
- Type : MagField : optimize : have a SoIndexedFaceSet.
- Type : MagneticField : correct UI_Manager not found problem.
- SoDetSvc : addRef, release used services.

!===================== SoCalo v8r0 =========================================
! 2007-01-19 - Florence Ranjard
 - update the code to cope with Gaudi v19r0

! 2007-01-16 - Thomas Ruf
 - SoCaloDigitCnv.cpp, use digit itself to determine its type, and not the name
   of the transient store container.
! 2006-12-21 - Guy Barrand
 - revisit the addRef/release of services.

!============================ SoEvent v7r0 ==========================================
! 2007-01-18 - Florence Ranjard
 - SoEvent is a component library: move all *.h to src, modify the code accordingly
 - fix for use with Gaudi v19r*

! 2007-01-31 - Thomas Ruf.
- fixed another bug in SoTrackCnv.
- added support for display of associated clusters of MCParticles for
  STClusters, OTClusters and MuonCoords
! 2007-01-19 - Thomas Ruf.
- fixed a bug of the bug fix, SoTrackCnv.

! 2007-01-18 - Thomas Ruf.
- fixed a bug in display of backward velo tracks, SoTrackCnv.
! 2007-01-17 - Thomas Ruf.
- add support for display of Ecal digits, muon coords associated to a MCParticle
! 2006-12-21 - Thomas Ruf.
- add support for display of daughters of composite particles via pull down menu
- add key to types of MuonCoord.
- SoTrackCnv, extrapolate long tracks up to Ecal

! 2006-12-21 - Guy Barrand
 - RecVertexType, ParticleType : revisit the addRef/release of services.
 - Type.h : have a setLocation method to commonalize the getting iterator
   for RecVertexType, ParticleType, TrackType.

! 2006-12-21 - Guy Barrand
 - revisit the addRef/release of services.

! 2006-12-21 - Thomas Ruf.
- Solved some issue with display of VeloClusters in -RZ projection which sometimes
  end up on the wrong side
! 2006-12-20 - Thomas Ruf.
- TrackType changed to start from lhcbIDs to display associate measurements
! 2006-12-19 - Guy Barrand.
- InputParticle.onx : have a create callback for the list of locations.
  (Cowork with Panoramix/source/Phys.cpp file).

! 2006-12-13 - Guy Barrand.
- SoEventSvc : addRef, release used services.

!========================== SoRich v4r0 2007-02-02 =====================
! 2007-02-02 - Florence RANJARD
 - use macro DECLARE_xxx_COVERTER to use new PluginManager

!========================== SoRichRec v4r0 2007-02-02 =====================
! 2007-02-02 - Florence RANJARD
 - use macro DECLARE_xxx_COVERTER to use new PluginManager

!==========================================================================

<H1><A NAME="v14r0">2006-12-13 - Panoramix v14r0</A></H1><PRE>
                based on GAUDI_v18r11, LHCB_v21r12, REC_v3r14, PHYS_v4r5
                uses ParamFiles v5r0, XmlDDDB v30r14
                uses OpenScientist v16r0
                includes RichRecSys v2r8 not yet available in REC_v3r14

!========================== Panoramix v14r0 ==========================
! 2006-12-12 - Guy Barrand.
 - OSC-16 :
   . swap Pages_osc_16.onx to Pages.onx
   . swap Panoramix_osc_16.py to Panoramix.py
   . remove OnX.py
   Keep for a while (just in case) a copy of these files under xxx_osc_15.

! 2006-12-11 - Chris Jones
 - Fix data location in Rich.cpp

! 2006-12-1 - Guy Barrand
 - Callbacks.cpp : gaudi_histo_example : protect against double histo
   creation ; else crash.
 - Callbacks.cpp, scripts/OnX/InputNextEventScripts.onx :
   have the event_raw_all callback with a maximum of "Raw" data
   to check overall speed.

! 2006-12-08 - Thomas Ruf
 - improved Panoramix_DaVinci to make standardparticles

!===================== OnXSvc v8r6 =====================================
2006-12-12 : Guy Barrand
- Type.h : a template to help building data-accessor/types.

!===================== OSCONX v16r0 ==================================
! 2006-12-12 - Guy Barrand.
 - swap requirements_osc_16 to requirements.
   Have a copy of the OSC-15 in requirements_osc_15 just in case.

!======================= SoEvent v6r11 ====================================
! 2006-12-08 - Thomsa Ruf
 - added SoVertexCnv and VertexType temporarily before better solution found
 - modified dictionaries

!=================== SoRich v3r5 2006-12-12 ==============================
! 2006-12-12 - Guy Barrand.
- MCRichSegmentRep : optimize : use a SoIndexedLineSet.
- Have MCRichSegmentType.

! 2006-12-12 - Guy Barrand.
- MCRichOpticalPhotonRep : optimize : handle a SoIndexedLineSet instead
  a SoLineSet to minimize the number of SoCoordinate3.

! 2006-12-12 - Guy Barrand.
- Have MCRichOpticalPhotonType.

! 2006-12-12 - Guy Barrand.
- MCRichHitRep : rm the inheritance to std::unary_function which is no
  more needed.
- SoMCRichHitCnv, MCRichHitType, MCRichHitRep : optimize :
  have begin() an represent() to be able to share the lightmodel style.

! 2006-12-12 - Guy Barrand.
- SoMCRichHitCnv : optimize ; loop once to get the scene graph and send them
  to the SoRegion.
- SoMCRichHitCnv : pass the SoStyleCache to MCRichHitRep.
- OSC-16 : MCRichHitRep : use SoStyleCache to minimize number of nodes.
- MCRichHitRep : pass a SoStyleCache in constructor.
- MCRichHitRep : deposit a picking name on the SoMarkerSet.
- Have a SoRichSvc to initialize the data-accessors (types).
- Have a MCRichHitType for picking.

!======================= SoUtils v2r5 =====================================
! 2006-11-30 : Guy Barrand
 - prepare OSC-16 : InventorSvcDict.h, SoUtils.i, cmt/requirements :
   disconnect Inventor since it is going to come
   throug pivy coming with OSC-16. Keep anyway the SoUtils dict
   for the SoTools::parameterValue used by Thomas in the MC_Viewer.py
   (to be fixed, in principle this could be fone through OnX.ui()).


!===============================================================================
<H1><A NAME="v13r10">2006-12-08 - Panoramix v13r10</A></H1><PRE>
                based on GAUDI_v18r11, LHCB_v21r12, REC_v3r14, PHYS_v4r5
                uses ParamFiles v5r0, XmlDDDB v30r14

!======================== Panoramix v13r10 =============================
! 2006-12-08 - Thomas Ruf
 - added new opts file Panoramix_DaVinci which makes some particle
 - updated Panoramix.opts to include the above opts

! 2006-12-08 - Guy Barrand
 - scripts/OnX/Event.onx : connect the SoEvent/Phys palette. It permits
   to work on the Particles by using the data-accessor system. Today there
   is not filter, but we may add some.

! 2006-12-08 - Guy Barrand
 - source/Layout, Style.cxx : modeling.type -> modeling.modeling
   (should have been changed since OSC-15 in fact).

2006-11-30 : Guy Barrand
- OSC-16 : Panoramix.onx, Callbacks.cpp :
  Panoramix_tree_create and Panoramix_tree_open_branch callbacks
  to have the "expension on demand" in the tree widget.
- OSC-16 : Python : Panoramix_osc_16.py : restore ui(), da().
- OSC-16 : Python : examples/Python/gb_test_da.py to test the
  OnX data accessor from LCG wrapping.

!===================== OnXSvc v8r5 ======================================
2006-12-04 : Guy Barrand
- Filter.h : update for OSC_16.

2006-11-30 : Guy Barrand
- OSC-16 : Python : restore access to IUI from the IUserInterfaceSvc.

!===================== OSCONX v15r0p4 =================================
! 2006-10-22 - Guy Barrand
 - requirements_osc_16 : WIN32 : libosc_dvi2bitmap.lib changed to
   osc_dvi2bitmap.lib.

!======================= RootSvc v1r5 =============================
! 2006-10-22 - Guy Barrand
 - source/Callbacks.cpp : WIN32 : port to OSC_16.
 - source/Factory_win32_osc_16.occ : WIN32 : port to OSC_16.

!===================== SoCalo v7r4 2006-12-08 ==============================
! 2006-12-08 - Guy Barrand
 - optimize scene graph size : use SoStyleCache.
 - handle modeling solid, wire_frame.
 - SoCalo[Digit,Cluster]Cnv : optimize : avoid the "Nodes" looping ; loop
   in one pass.
 - SoCalo[Digit,Cluster]Cnv : handle color. Have the correct "data-accessor"
   name for picking.
 - Calo[Digit,Cluster]Type : optimize the Iterator ; avoid a secondary
   copy in an std::vector.
 - Calo[Digit,Cluster]Type : optimize the getting of the currentRegion.
   It is done once per vis action in the beginVisualize.

!======================== SoDet v6r5 2006-12-08 ========================
! 2006-12-08 - Guy Barrand
 - SoDetConverter : modeling.type -> modeling.modeling (since OSC-15 in fact).

! 2006-12-04 - Guy Barrand
 - SoDetConverter::simpleSolidToSbPolyhedron : have same "rotation steps" logic
   for tubs than for sphere. It should improve the Velo sensors appearance.

!======================= SoEvent v6r10 ==================================
! 2006-12-08 - Thomsa Ruf
 - SoParticleCnv : changed TrTransporter to ParticleTransporter

! 2006-10-08 - Guy Barrand
 - SoParticleCnv, SoRecVertexCnv : rm multiNodeLimit code which is not used.
 - SoMuonCoordCnv : optimize : use SoStyleCache, have a SoIndexedLineSet to
   minimize the number of SoCoordinate3 nodes.
 - SoSTClusterCnv : optimize : use SoStyleCache, have a SoIndexedLineSet to
   minimize the number of SoCoordinate3 nodes.
 - SoOTClusterCnv : optimize : use SoStyleCache, have a SoIndexedLineSet to
   minimize the number of SoCoordinate3 nodes.
 - SoVeloClusterCnv : use the SoStyleCache of the region ; do not maintain
   a local one.

! 2006-10-06 - Guy Barrand
 - SoVeloClusterCnv : scene graph optimisation : have a common SoCoordinate3
   for all clusters and then one SoIndexedLineSet per pickable objects.
 - SoTrackCnv : comment out some line to avoid "unused variables" warnings.
 - So*Cnv::createRep : optimize the looping from the data-accessor system.
   Use the up today dummy second argument to pass the SoRegion in case
   of looping from the data-accessor system. In this case the
   getting of the currentRegion is done once, which clearly optimize things.
   See also SoEvent/Type.h SoEvent::Type<>::beginVisualize, and visualize
   methods.
   This permits to boost the visualization of the VeloCluster if manipulated
   from the data-accessor system.
 - SoVeloClusterCnv : optimize : get the tools once.

! 2006-10-05 - Guy Barrand
 - Type.h : optimize the visualize method. Mainly get the right converter
   once and call it directly in the visualize method.
 - SoVeloCLusterCnv : optimize the scene graph size by using a SoStyleCache.

! 2006-10-04 - Guy Barrand
 - Type.h : g++-3.2.3 and OSC-16 : something strange ; we loose the
   virtuality on the "safe cast" method ! Only the cast of the first
   base class is called (Lib::BaseAccessor) and not the one of OnX::BaseType.
   Sympton is that a data_visualize over MCParticle does not work ; the
   MCParticleType is not seen as an "IVisualizer".
   Have a local cast method to bypass this problem. No explanation yet.
   Is it related to the fact that we have a template in the inheritance tree ?

!===================== SoRich v3r4 2006-12-08 ============================
! 2006-10-22 - Guy Barrand
 - source/*.cpp : WIN32 : remove the "smanip warnings".

!=========================== SoRichRec v3r4 2006-12-08 ====================
! 2006-10-22 - Guy Barrand
 - source/*.cpp : WIN32 : remove the "smanip warnings".

!======================= SoUtils v2r5 =====================================
! 2006-11-30 : Guy Barrand
 - prepare OSC-16 : InventorSvcDict.h, SoUtils.i, cmt/requirements :
   disconnect Inventor since it is going to come
   throug pivy coming with OSC-16. Keep anyway the SoUtils dict
   for the SoTools::parameterValue used by Thomas in the MC_Viewer.py
   (to be fixed, in principle this could be fone through OnX.ui()).

!=========================================================================
<H1><A NAME="v13r9">2006-11-17 - Panoramix v13r9</A></H1><PRE>
                based on GAUDI_v18r10, LHCB_v21r11, REC_v3r13, PHYS_v4r4
                uses ParamFiles v5r0, XmlDDDB v30r13
!====================== Panoramix v13r9 ================================
! 2006-11-16 - Thomas Ruf
 - minor modifications to python scripts
 - changed requirement file to apply tag Phys

!========================== SoEvent v6r9 ==================================
! 2006-11-16 - Thomas Ruf
  - dict/SoEventDict.h, SoEventDict.xml
  added MCTrackinfo as temporary solution to get a dictionary for this class

!======================== SoDet v6r4 2006-11-17 =======================
! 2006-11-17 - Florence Ranjard
 - requirements - LHCbDefinitions_linkopts is nolonger defined
                  use LHCbMath_linkopts instead

!===========================================================================
<H1><A NAME="v13r8">2006-10-30 - Panoramix v13r8</A></H1><PRE>
                based on GAUDI_v18r9, LHCB_v21r10, REC_v3r12, PHYS_v4r3
 use: XmlDDDB v30r12, XmlConditions v2r4, ParamFiles v4r5, FieldMap v4r7

!====================== Panoramix v13r8 =================================
! 2006-10-26 - Guy Barrand
 - Panoramix_main : check for option file passed as last argument
   and not as second one. Do this in order to be able to pass
   extras -xxx options.

! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

! 2006-23-19 - Guy Barrand.
 - PanoramixCommon.opts : have RootSvc before POOL options.
   Else, the pain (ROOT) is not initialized in "graphic mode".

!====================== OnXSvc v8r4 =======================================
! 2006-10-24 - Guy Barrand
 - prepare OSC-16 : OnXSvcDict.xml : have material for Slash
   interfaces. It induces warning if building with OSC-15, but
   it is ok.

! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

!========================= RootSvc v1r4 ============================
! 2006-10-19 - Guy Barrand.
  prepare OSC-16

!==================== SoCalo v7r3 2006-10-30 ================================
! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

!========================= SoDet v6r3 2006-10-30 ========================
! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

 !=========================== SoEvent v6r8 ==================================
! 2006-10-30 - Juan PALACIOS

  - dict/SoEventDict.h, SoEventDict.xml
    . Remove entries for IDebugTool, IMCReconstructible, IVisPrimVertTool.
      These are now in Phys/PhysDict.

  - cmt/requirements
    . Increase version to v6r8
    . Remove use DaVinciMCTools
    . Use new Phys/PhysDict

! 2006-10-30 - Thomas Ruf
 - some optimization done in SoTrackCnv and SoVeloClusterCnv

! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

!======================= SoHepMC v5r3 =================================
! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

!====================== SoRich SoRichRec v3r3 2006-10-30 ===============
! 2006-10-24 - Guy Barrand
 - prepare OSC-16.

!======================== SoUtils v2r4 ====================================
 prepare for OSC-16

!==========================================================================
<H1><A NAME="v13r7">2006-10-09 - Panoramix v13r7</A></H1><PRE>
                based on GAUDI_v18r7, LHCB_v21r8, REC_v3r10, PHYS_v4r1

!======================== Panoramix v13r7 ==================================
! 2006-10-11 - Thomas Ruf
 - scripts/Python/MC_Viewer.py: added interface to printTree
 - options/Panoramix... support for reading DSTs only w/o running reco

! 2006-10-10 - Guy Barrand
 - examples/Python/Test.onx : add a menu item to map the gb_test_dialog_py.onx
   input dialog.
 - examples/Python/gb_test_dialog_py.onx : then a test input dialog that
   does a "ok" callback in Python.
 - scripts/Python/OnX.py : so that the OnX Input Dialog "ok" system works
   with Python. See more comments within OnX.py.

! 2006-6-10 - Thomas Ruf
 - scripts/Python/MC_Viewer.py: added, panoramixmodule moved from example to
   scripts
! 2006-26-09 - Thomas Ruf
 - scripts/Python/Panoramix.py: commented -b option (batch) for ROOT
 - source/Callbacks.cpp: minor issue with SoEvent_Track widget
 - options/Panoramix.opts: tried to make option file more modular, supports now
   reading dst, with no reconstruction or digi/dst with full reconstruction
 - examples/Python : some bug fixes and improvements

!========================== SoEvent v6r7 ==================================
! 2006-10-11 - Thomas Ruf
 - Further improvements on SoTrackCnv
 - added temporarly some dicts in SoEventDict which will
   be replaced by a future Phys/PhysDict, needed by some python scripts
   this also required a modification to the requirements file
 - mcviewer adapted for using OnX.py in Panoramix/scripts

! 2006-10-06 - Thomas Ruf
 - MCParticle.onx: mcviewer improved, now calls python script
 - SoMCParticleCnv.cpp: tried to improve display of MCParticle trajectories and text
! 2006-09-26 - Thomas Ruf
 - src/SoTrackCnv.cpp: switch to linear extrapolator for Velo tracks,
  added visualization of state position. Simplified logic, extrapolator uses everywhere.cv
 - src/SoOTClusterCnv.cpp: tried to remove some compiler warnings
! 2006-09-22 - Pere Mato
 - dict/SoEventDict.xml: removed dictionaries for common stl classes (e.g std::char_traits<char>)

!========================= SoUtils v2r3 ====================================
! 2006-10-06 - Thomas Ruf
 - /dict - added hack to get a string returned by aUI.parameterValue(parameter,value)
   also back to python

!========================= RootSvc v1r3 =============================
! 2006-09-29 - Thomas Ruf.
 - added dictionary for RootSvc
 - required to modify requirements file

!======================= OnXSvc v8r3 ========================================
! 2006-10-10 - Guy Barrand
 - dict/OnXSvcDict.h : add
     class Helpers {
     public:
       static std::string parameterValue(IUI& aUI,const std::string& aWhat) {
       ...
       }
     };
   to compensate the lack of good wrapping of the second argument
   of IUI.parameterValue which is a reference of a std::string which
   is modified by the method.

! 2006-09-22 - Pere Mato
 - dict/OnXSvcDict.xml: removed selection of IInterface and IRunable for generating the dictionary.
   These are included in GaudiKernel and were producing duplication warnings when starting ROOT.

!=========================================================================
<H1><A NAME="v13r6">2006-09-18 - Panoramix v13r6</A></H1><PRE>
                based on GAUDI_v18r7, LHCB_v21r7, REC_v3r9, PHYS_v4r0
                PHYS_v4r0 is built on GAUDI_v18r5
!====================== Panoramix v13r6 ===================================
! 2006-08-09 - Thomas Ruf
 - adopted Panoramix for Rec v3r7
   modified files: requirements, Panoramix.opts
   added SoCalo in option file, + python example to display calo digits
   solved some issue in Callbacks.cpp appearing with new joboption parser

! 2006-07-31 - Chris Jones
 - Fix RICH parts in Layout.cpp and Rich.cpp that had become broken

!========================== SoDet v6r2 2006-09-18 ======================
! 2006-08-01 - Chris Jones
 - Add workaround in SoDetConverter.cpp when dealing with transformations
   to avoid problems when inverting matrixes with 180 degree rotations

!========================== SoEvent v6r6 ===============================
! 2006-08-09 - Thomas Ruf
 - adopted to new vertex class:
   removed files: SoTrackVertexCnv.h,.cpp, SoVertexCnv.h,.cpp
   TrackVertexType.h,.cpp,VertexType.h,.cpp
   added files: SoRecVertexCnv.h,.cpp RecVertexType.h,.cpp
   changed files: requirements, SoEventDict.h,SoEventSvc.cpp,SoEvent_load.cpp
   added more track containers, Track.onx
   solved some remaining issue if subdetector info is missing: SoTrackCnv.cpp,
   TrackType.cpp

!===================== SoRich v3r2 2006-09-18 ===========================
! 2006-08-04 - Chris Jones
 - Fixes for latest releases + tidy up options files

!=========================== SoRichRec v3r2 2006-09-18 ======================
! 2006-09-07 - Chris Jones
 - Updates for REC v3r9

! 2006-08-04 - Chris Jones
 - fixes for latest releases + tidy up options files

!=======================================================================
<H1><A NAME="v13r5">2006-07-12 - Panoramix v13r5</A></H1><PRE>
                 based on Gaudi v18r5, LHCB_v21r2, REC_v3r5, PHYS_v3r2
                 there are still few files not compiled

!========================== Panoramix v13r5 ============================
! 2006-07-19 - Thomas Ruf.
 - clean up of some python scripts, and some additional scripts for vertex
   and projections

!========================== SoEvent v6r5 ===============================
! 2006-07-19 - Thomas Ruf
 - SoTrackCnv, solved some issue around requiring unnecessarily
  detector elements of all tracking detectors, caused problems for ACDC,
  reported by Malcolm John
- SoTrackCnv, some cleanup.
- SoTrackCnv, added visualization of chi2 at each track measurement

! 2006-07-10 - Thomas Ruf
 - added support for Particles, TrackVertex

! 2006-07-12 - Florence RANJARD
 - poca tool has been moved from TRackInterfaces to LHCbKernel
   update SoTrackCnv.cpp

!==========================================================================
<H1><A NAME="v13r4">2006-06-26 - Panoramix v13r4</A></H1><PRE>
                 based on Gaudi v18r5, LHCB_v21r1, REC_v3r4
                 there are still few files not compiled
                 PHYS v3r1 is linked with but BECAREFULL
                 it is not based with the right LHCb version

!=========================== SoEvent v6r4 ===============================
! 2006-06-28 - Thomas Ruf
 - solved some issue with displaying Upstream (VeloTT) tracks
! 2006-06-27 - Thomas Ruf
 - remove obsolete method SoVeloClusterCnv:clustersPoints
 - remove obsolete class VeloPoint and VeloPointMaker
 - modified requirements accordingly
! 2006-05-29 - Thomas Ruf
 - solve some issue with plotting Velo tracks, SoTrackCnv
 - solve some issue with plotting VeloClusters,
   now correctly done using trajectories

!======================= Panoramix v13r4 =================================
! 2006-06-28 - Thomas Ruf.
 - some fix to MCParticle editor
 - tr_test_rec.opts updated, pointing to a digi and sim file linked
   by a filecatalog
! 2006-06-19 - Thomas Ruf.
 - added support for MCparticle editor, onx script and callback.cpp
! 2006-06-08 - Thomas Ruf.
 - added import Webbrowser in gaudigadgets to allow web pages displayed on Linux

!========================================================================
<H1><A NAME="v13r3">2006-05-23 - Panoramix v13r3</A></H1><PRE>
                 based on LHCB_v21r0, REC_v3r3
             there are still few files not compiled
!======================= Panoramix v13r3 =================================
! 2006-05-22 - Thomas Ruf.
 - some modifications to python scripts and Onx scripts
 - callback.cpp for track editor
! 2006-05-17 - Guy Barrand.
 - Panoramix.py : after the 'import gaudimodule', remove the
   gaudimodule._atexit_ function. Else, if someone do a :
   gaudimodule.AppMgr() in a Python Callback script, whilst Python
   had been inited by OnX, we have a crash at exit. (It is because
   the OnXSvc::finalize will indirectly do a Py_Finalize and that
   the gaudimodule._atexit_ will do a appMgr.finalize() and a
   appMgr.terminate() !

! 2006-04-28 - Guy Barrand.
 - options/gb_*.opts : remove loading of GaudiPython DLL that do not seemed
   to be needed anymore.
 - Style.h, .cxx : Style class to have in C++ the pending of the Panoramix.py
   Style python class.
 - Det.cxx : to put some view of the detector. Like the C++ version
   of the gb_DetView_o.py to help debugging.

!========================== OnXSvc v8r2 =================================
! 2006-04-17 - Guy Barrand
 - OnXSvc::finalize : correct :
    if(!ui) ui->executeCallbacks("*","destroy");
   that should be :
    if(ui) ui->executeCallbacks("*","destroy");

! 2006-04-15 - Guy Barrand
 - IUserInterfaceSvc::currentWidget : used in SoStat/SoHistogramCnv to
   be able plot an histogram in a TCanvas.

! 2006-05-11 - Guy Barrand
 - options/OnXSvc.opts : have by default :
     OnXSvc.Threaded = true;
   to be able to cowork with ROOT graphic on Linux/X11/Motif.

!========================== RootSvc v1r2 ===========================
! 2006-05-19 - Guy Barrand.
 - Callbacks : RootSvc_initialize : Xt : RootCanvasStartTimer in order
   to have the TCanvas popup menu.
 - Xt : RootCanvas : Timer proc using gSystem->ProcessEvents() instead
   of the documented gSystem->InnerLoop() that hangs in the non-timed
   select in the TUnixSystem::UnixSelect method.

! 2006-05-18 - Guy Barrand.
 - scripts/OnX/RootSvcExamples.onx/"LHCb style" item  and
   examples/CINT/lhcbstyle.C : to demo the activation of TStyle.

! 2006-05-17 - Guy Barrand.
 - Win32 : RootCanvas : handle timer and button2, button3 events. Then
   have the popup menu.

! 2006-05-15 - Guy Barrand.
 - IRootSvc.h : used in Vis/SoStat to plot an histo in a TCanvas.

! 2006-05-11 - Guy Barrand.
 - Callbacks.cpp/RootSvc_Initialize : declare rootcint interpreter.

! 2006-05-09 - Guy Barrand.
 - Callbacks.cpp : WIN32 : rm the Root_example_geom callback related
   to libGeom.lib ROOT lib. Within Panoramix, if the function in the lib
   and if RootSvc loaded first, then OnX can't load the RootSvcCbks DLL ; the
   loading is blocked in the WIN32 LoadLibrary function ! I dont't think
   five second to try to debug that.
 - requirements : WIN32 : have RootSvc_shlibflags.
 - WinTk_RootCanvas.cpp : in WinTk::RootCanvas::proc WM_PAINT treatment ; bave
   a dummy ::BeginPaint/EndPaint to avoid WM_PAINT looping.

!=========================== SoEvent v6r3 ===============================
                    still few files do not compile
! 2006-05-24 - Florence Ranjard
 - include SmartDataPtr.h in MuonCoordCnv.cpp
! 2006-05-22 - Thomas Ruf
 - added visualizeMCHits method in MCParticleType
 - added Onx script for flexible display of different tracks
! 2006-05-14 - Thomas Ruf
 - improved SoTrackCnv by using the Herab extrapolator between states
 - improved SoOTClusterCnv and SoTrackCnv by using trajectories
 - velo measurements are also now displayed with the track using
   modeling.what, 'VeloMeasurements'
! 2006-05-14 - Thomas Ruf
 - added some more properties to TrackType
 - modified muoncoordtype and somuoncoordcnv to compile with new software
 - also Vertextype.cpp
! 2006-05-11 - Thomas Ruf
 - fixed bug in SoTrackCnv, wrong indices of vectors leftover from CLHEP
 - added track and STCluster to SoEvent dict
! 2006-05-10 - Thomas Ruf
 - many changes to adapt to new event models and new inventor software in
   SoVeloClusterCnv, VeloClusterType, TrackType, SoTrackCnv, STClusterType
   SoSTClusterCnv, OTTimeType, SoOTClusterCnv,SoEventSvc,MCparticleType
 - removed obsolete ITClusterType, SoITClusterCnv

!======================= SoStat v5r2 =======================================
! 2005-05-15 - Guy Barrand
 - SoHistogramCnv.cpp : handle the case where the current widget is a TCanvas.
   Done through the OnX IWidget and IRootSvc (to avoid "hard" dependencies
   toward OnX and ROOT). Need the IUserInterfaceSvc::currentWidget method.


!========================================================================
<H1><A NAME="v13r2">2006-05-04 - Panoramix v13r2</A></H1><PRE>

!============================ Panoramix v13r2 ============================
! 2006-05-04 - Guy Barrand
 - /source - remove Det.cxx, Style.cxx, Style.h
             update Helpers.h
 - /scripts/OnX - remove Plotter.onx, Plotters.onx
                  update Analysis.onx, Panoramix.onx
 - /options - add and update several option files

!=========================== SoEvent v6r2 ===============================
! 2006-05-02 - Eduardo Rodrigues
 - propagation of the renaming of the Track Event Model typedefs
   (in TrackTypes.h in Kernel/LHCbDefinitions)
 - propagation of change Track::Unique -> Track::Clone in Event/TrackEvent

!======================== SoHepMC v5r2 ==================================
! 2006-04-27 - Guy Barrand
 - Types.cpp : use region_addToDynamicScene helper.

!========================== SoUtils v2r2 ================================
! 2006-05-04 - Guy Barrand
 - /dict - update InventorSvcDict.h

!============================ RootSvc v1r1 ================================
! 2006-05-04 - Florence RANJARD
 - requirements - some cosmetic changes in requirements to facilitate future
                  move to InstallArea

! 2006-04-28 - Guy Barrand.
 - birth : RootSvc is for the integration of ROOT plotting within Panoramix.

!==========================================================================
<H1><A NAME="v13r1">2006-04-12 - Panoramix v13r1</A></H1><PRE>

!============================= Panoramix v13r1 ============================
! 2006-04-07 - Guy Barrand.
 - examples/Python/gb_test_bender.py : to create an histo
   in Gaudi and plot it with ROOT by using Vanya Vis/BenderVis/aida2root
   classes and Python scripts. Whilst having done the below
   cooking to have various X11 graphic coworking together, it
   seems ok on X11/Linux.
 - options/gb_test_root.opts, examples/Python/gb_test_root.py :
   to test Panoramix GUI coworking with ROOT GUI.
   X11 : The ROOT X11 graphic being enforced to be started in
   threaded mode (XInitThread) then the OnX/Xt driver should
   have also be started in thread mode. Then someone must have in
   job options :
     OnXSvc.Threaded = true;
   In Panoramix.py the :
     sys.argv.append('-b')
    should be commented out in order to try to cowork with ROOT graphic.

! 2006-04-07 - Guy Barrand.
 - examples/Python/gb_test_plot.py : put code to plot
   with the Vis/SoStat through the uiSvc().visualize().
 - runWin.py -> pmx_run.py : restore / test this script.
 - pmx_mc.py : revisit of the Utilities.py of Pere. Have it working
   with LHCb_v20r0. Then rename the file to start to namespace .py
   Panoramix scripts.

! 2006-04-06 - Guy Barrand. Start to work on analysis tools integration.
 - examples/Python/gb_test_plot.py : to test plotting from Python.
 - Panoramix.py : histSvc() function.
 - scripts/OnX/Help.onx : Analysis help item.
 - scripts/Help/Analysis.help : Analysis help text.
 - Panoramix.onx : init Lab (need LABROOT defined in OSCONX) in order
   to be able to work on AIDA trees.
 - displace the "Create a Gaudi histo" menu item from Gaudi.onx to
   Analysis.onx (in order to have here a simple example creating
   a Gaudi histo in /stat).
 - displace Plotter.onx under Analysis.onx.
 - add scripts/OnX/Analysis.onx to gather analysis tools materials.
! 2006-04-05 - Guy Barrand
 - Panoramix.py : have a def checkGeom with code of CheckGeom.py
   and rm CheckGeom.py.
 - Panoramix.py : appMgr(), algMgr(), algorithm() to placy with
   algorithm. Need to hava OnXSvc/IUserInterfaceSvc::appMgr().
 - WIN32 : restore DetDescVis.py. Correct a cast to IUI.
 - rm scripts/Python/sessionMgr.py which is not used.
   It would be fine to concentrate in puting things
   in one place : Panoramix.py.
 - restore examples/Python/DetDescVis.py. Rm import sessionMgr
   which is in fact not used.
 - have a pmx.py as a shortcut for Panoramix.py.
 - suppress PMX.py as a python shell starter since the below start() and
   run() does the job.
 - Panoramix.py : start() and run() functions to start from the Python shell.
   start(<option file>) uses the gaudimodule.AppMgr() to start from scratch.
   start() does not give control to the gui.
   run() = start() and toui().
   See examples/Python/exa0.py for an example.
 - Panoramix.py : toui() for a shortcut to return to the GUI.

! 2006-04-05 - Guy Barrand
 - Panoramix.py : have a Page and Region class. These one
   are definitely introduced because of the lack of a good
   LCG-Python wrapping of Inventor and HEPVis (05/April/2006).
   In these Python classes, had been introduced methods similar to the
   ones of the HEPVis/SoPage and SoRegion so that when we are going to have
   a good wrapper, it will be possible to migrate easily to it.
   Example of usage :
     import Panoramix
     page = Panoramix.Page()
     page.setTitle('My LHCb')
     page.createDisplayRegions(1,1,0)
     page.setCurrentRegion(0)
     region = Panoramix.Region() # To work on the current region.
     region.setBackgroundColor('1 1 1')
! 2006-04-04 - Guy Barrand
 - Panoramix.py : have a Style class. For example :
      >>> import Panoramix
      >>> da = Panoramix.DA()
      >>> s = Panoramix.Style()
      >>> da.collect('MCParticle')
      >>> s.setColor('red')
      >>> da.visualize()
 - Panoramix.py : have a vis() shortcut on the Panoramix.DA class.
      >>> import Panoramix
      >>> da = Panoramix.DA()
      >>> da.collect('MCParticle')
      >>> da.vis()
 - Panoramix.py : have a Camera class to manipulate the
   camera current region. Example :
      >>> import Panoramix
      >>> cam = Panoramix.Camera()
      >>> cam.setHeight(100)
      >>> cam.setPosition(1000,0,0)
 - Panoramix.py : have a DA class to have a Python front end to
   the OnX data accessor. Then someone can do :
      >>> import Panoramix
      >>> da = Panoramix.DA()
      >>> da.collect('MCParticle')
      >>> da.visualize()
   We can probably also introduce other mthodes with shorter
  to minimize the typing (def vis for example).

! 2006-03-31 - Guy Barrand
 - gb_test_vis_mcparticle.py : have it working correctly.
  . needed the SoEventDict : SoEvent::KO::visualize.
  . needed to avoif the AppMgr (else crash at exit ; the trick is to
    get the data object with :
      mcps = gaudimodule.Helper.Helper.dataobject(evtSvc,'/Event/MC/Particles')
 - Panoramix.py :
  . def CO_visualize to visualize one ContainedObject.
  . def KO_visualize to visualize one KeyedObject.

! 2006-03-31 - Guy Barrand
 - gb_test_*_xyzpoint.py : ifdef 'nt' to load the correct MathRflx lib.
 - Panoramix.py, PMX.py : ifdef 'nt' for the DISPLAY handling.
 - PMX.py : handle a job option file passed in argument. See doc
   at head of PMX.py.
 - rename scripts/Python/PanoramixSession.py to PMX.py. It permits
   a faster startup from the python shell.

! 2006-03-30 - Guy Barrand
 - scripts/Python/Panoramix.py : revisit. Remove global variables ; have
   gettre procedure instead. See examples/Python/jvantilb_LHCb_3D.py
   for an example. See also examples/Python/gb_DetView_o.py which
   is a corrected clone of the truf_DetView_o.py.

! 2006-03-30 - Guy Barrand
 - scripts/OnX/*.onx : have exec="DLD" instead of exec="C++".
   The exec="C++" had been deprecated in OSC-15. It appeared to be user
   misleading ; people expected to have a C++ interpreter whilst it is
   not the case. "DLD" is for "Dynamic Loading".

! 2006-03-29 - Guy Barrand
- source/*.cpp : migrate to a direct usage of SoPage, SoRegion.
- source/*.cpp : rm OSC_VERSION_15 ifdefs.

! 2006-03-24 - Thomas Ruf
  more example/Python scripts modified for new event model changes.

! 2006-03-20 - Guy Barrand
- Scene.onx : modeling.doBooleanOperation true, false items.
- Scene.onx : modeling.rotationSteps... item :
  Add file scripts/OnX/InputModelingRotationStep.onx.
  Add file scripts/Help/InputModelingRotationStep.help.
  This palette permits to set the modeling.roationSteps parameter
  used in Vis/SoDet/SoDetConverter.cxx to modelize spheres.

!============================ OnXSvc v8r1 ================================
! 2006-04-07 - Guy Barrand
 - OnXSvc.Threaded job option. X11 : used if wanting to cowork
   with ROOT graphic. The X11 ROOT graphic behing launched
   in thread mode (XInitThread), if executing some ROOT graphic
   within Panoramix then the OnX/Xt driver should have been
   also started in threded mode. This is done by having in
   job options :
     OnXSvc.Threaded = true;

! 2006-04-05 - Guy Barrand
 - IUserInterfaceSvc::appMgr() : to get appMgr() from Python without
   using gaudimodule.AppMgr() that induces problem at exit.
 - IUserInterfaceSvc::torgb : to help color convertion string to rgbs
   from Python.

! 2006-03-31 - Guy Barrand
 - IUserInterfaceSvc::visualize : have ref instead of pointers.
 - OnXSvc::visualize : rm checks that are unnecessary at this point.
 - rm Migrate.h. No more neeed.

! 2006-03-29 - Guy Barrand
- IUserInterfaceSvc.h : currentSoPage(), currentSoRegion().
  currentPage(), currentRegion() are deprecated.

! 2006-03-23 - Guy Barrand
- OnXSvcDict.h : have template instenciation for std::vector of
  Gaudi::XYZPoint.
- OnXSvcDict.h, xml : rm OSC-12 specific things.

!=========================== SoDet v6r1 2006-04-12 =====================
! 2006-03-30 - Guy Barrand
 - scripts/OnX/*.onx : have exec="DLD" instead of exec="C++".
   The exec="C++" had been deprecated in OSC-15. It appeared to be user
   misleading ; people expected to have a C++ interpreter whilst it is
   not the case. "DLD" is for "Dynamic Loading".

! 2006-03-29 - Guy Barrand
 - Types.cpp : rm usage of IPage, IRegion ; use directly SoPage, SoRegion.

! 2006-03-23 - Guy Barrand
 - SoDetConverter.cpp : WIN32 : SbPolyhedron::GetNumberOfRotationSteps()
   is unusable on WIN32 due to the fact that the code is embedded in the
   .h and that it uses the fNumberOfRotationSteps static variables.
   Waiting corrected code of HEPVis/SbPolyheron of some OSC-v15r0p2
   we have put a fix for WIN32.

! 2006-03-20 - Guy Barrand
 - SoDetConverter.h, .cpp : handle modeling.doBooleanOperation : to be able
   to disconnect boolean operations over solid (to ease debugging).
 - SoDetConverter.h, .cpp : handle modeling.rotationSteps for the spheres.
   Previous code was wrong since it assumed that
   SbPolyhedron::fNumberOfRotationSteps was not a class variable !
 - SoDetConverter.h, .cpp : revisit the methods creating the SbPolyhedrons.
   Use the dynamic_cast to switch between solid types. Using
   typeName string comparison plus having the dynamic_cast was less efficient.
 - SoDetConverter.h, .cpp : fStyleCache : use a SoStyleCache to dimish number
   of nodes for colors, lightening.

!=========================== SoEvent v6r1 =================================
! 2006-03-29 - Guy Barrand
 - MCParticleType.cpp : have
    LHCb::MCVertex::DecayVertex
  instead of :
    LHCb::MCVertex::MCVertexType::DecayVertex
  Else it does not compile (with g++ 3.2.3).
 - SoMCParticleCnv.cpp : restore sizeText handling.
 - SoMCParticleCnv.cpp, SoMCCnv.cpp, SoMCHitCnv.cpp : Win : rm Warnings.

! 2006-03-24 - Thomas Ruf
 - MCParticle.h, .cpp - removed findParent, now handled directly inside
   MCParticle class. Added functionality for bcflag and time of flight
   properties.

!==================== SoCalo v7r1 2006-04-12 ================================
! 2006-03-29 - Guy Barrand
 - * : migrate to SoRegion.

! 2006-03-29 - Guy Barrand
 - CaloDigiRep.h : in the cstor, have 10 for the default value of TxtSize.
   Needed by the new SoTextTTF node (used since OSC-15).
 - CaloDigiRep.cpp : cast txtSize() to int when used by the SoTextTTF.

! 2006-03-23 - Guy Barrand
 - empty the scripts/Tcl directory.

!========================= SoRichRec v3r1 2006-04-12 ========================
! 2006-04-12 - Florence RANJARD
- So*Cnv.cpp : DYNAMIC_SCENE for OSC_15. -> "dynamic"

!========================= SoRich v3r1 2006-04-12 ========================
! 2006-04-12 - Florence RANJARD
- So*Cnv.cpp : DYNAMIC_SCENE for OSC_15. -> "dynamic"

!======================== SoHepMC v5r1 ===================================
! 2006-03-29 - Guy Barrand
 - Types.cpp : WIN32 : rm warnings.

!======================== SoStat v5r1 ====================================
! 2005-03-29 - Guy Barrand
 - SoHistogramCnv.cpp : have the OSC_15 one. Rm SoHistogramCnv.cpp_OSC_12.

!========================== SoUtils v2r1 =================================
! 2005-03-30 - Guy Barrand
- dict : have more Inventor and HEPVis material declared to the dict system.
  Have files Inventor.i and now HEPVis.i. These are copies of the
  OnX/source/SWIG/Inventor.i and HEPVis.i but without SWIG specific
  declarations.

! 2005-03-23 - Guy Barrand
- Ellipsoid.cpp, EllipticalPrism.cpp : WIN32 : rm warnings.
- rm some of the SoTools methods that comes now with the HEPVis of OSC-15.
- rm SoMarkerSet which comes now with the HEPVis of OSC-15.

! 2005-02-22 - Guy Barrand
- requirements : use Python ; to be able to construct the dictionaries.

==================== OSCONX v15r0p2 =====================================
! 2006-04-06 - Guy Barrand
 - requirements : LABROOT to access analysis tools.

! 2006-03-30 - Guy Barrand
 - scripts, examples, fonts directories : empty these directories
   which are no more used with a OSC-15 distrib.

! 2006-03-23 - Guy Barrand
 - requirements : have PATH for Linux too.

!========================================================================
<H1><A NAME="v13r0">2006-03-14 - Panoramix v13r0</A></H1><PRE>

!========================== Panoramix v13r0 =============================
! 2006-03-16 - Guy Barrand
- gb_test_vis_xyzpoints.py : to test the visualization of points from Python
  by using the IUSerInterfaceSvc::visualize(XYZPoint).
- gb_test_xyzpoint.py : to manipulate points from Python.
  Need to have a "use RELAX v* LCG_Interfaces".
- Add in gb_text_sim.opts :
   PoolDbCacheSvc.Dlls += {"GenEventDict" }; //Else "ls /Event" crashes.
  With that the "ls /Event" does not crah on /Event/Gen.
  Why things have to crash if the upper DLL is not here ?
  Why we do not have some nice message saying :
    Some dict is missing to read the data.
  and then be able to continue anyway.
- rename gb_test_mc.opts to gb_test_sim.opts (to match .sim file suffix).
- have a "depth" argument for the ls method. Then someone can type :
      C++> Panoramix ls /dd
      C++> Panoramix ls 4 /Event
  Use the revisted OnXSvc::ls method.
- have a "ls /dd" and "ls /Event" in the Detector and Event pdms.

! 2005-03-10 - Guy Barrand
- Panoramix.onx : have a "selectBranch" callback on the mainTree.
  It permits to trigger visualization action for a whole branch
  of the transient store (/dd and /Event).
   Not checked yet on Windows.

! 2005-03-09 - Guy Barrand
- displace SoUtils_initClasses from OnXSvc into Panoramix_initialize callback.
  (This permits to start also the program from the onx.exe program).
- Link the Panoramix DLL with SoUtils )because of the rulers).
- gb_test_mc.opts : "zen" options files to test event reading
  and visualization of MCPaticles.
- gb_test_detector.opts : "zen" options files to test detector
  reading and visualization.
! 2005-02-22 - Guy Barrand
- InputLayout.onx and Layouts.cxx : handle layout_rulers an
  layout_removeRulers that permits to dress (remove) the current
  SoDisplayRegion with rulers (done with Vis/SoUtils/SoRulerRegion nodekit).
  It needs OSC-15.

-2006-01-25 - Guy Barrand
 - scripts/Python/PanoramixSession.py : to start a non customized
   Panoramix session from the python shell. It must not be confused
   with Panoramix.py which does NOT load job options and which
   is used to define common things (like uiScv, session, runable,
   common macros). In particular PanoramixSession.py imports Panoramix.py.
 - Panoramix.py : correct the way to get typeManager. This restore
   the data_collect, data_visualize, etc... It needs a modif
   in the dictionary of OnXSvc.

-2006-01-24 - Guy Barrand
 - remove scripts/OnX/Examples.onx that is not used (for long !).

-2006-01-18 - Guy Barrand
 - examples/Python/exa0.py : restore this script.
 - scripts/Python/Panoramix.py : comment out :
    gaudimodule.AppMgr().DLLs += ['OnXSvc']
   that had been introduced in order that a :
     OS> python -i Panoramix.py
   load the GUI. But then we had a crash when starting
   from the .exe. This shows that we need :
   - or to reenforce the Panoramix.py if we want it
     to be used also if starting from Python.
   - or have another startup script if wanting to start from Python.
   If we let the upper line, then the OnXSvc DLL (which is a runnable)
   is declared twice to gaudi (from the job options and from the .py)
   and it seems that then the Gaudi exit system try to delete the OnXSvc
   twice !
 - source/Callbacks.cxx, Layouts.cxx : restore
   the version (from tag v12r0p0) without some OSC_15 migration code.
   As a patch of OSC_15 is already needed, the best
   is to put back the migration logic in a patch release of
   OnX/Region.cxx, Page.cxx.
    This permit also to keep all the existing Python script
   compatible with OSC_15.

-2006-01-17 - Guy Barrand
 - scripts/Python/Panorramix.py :
   * do not use appMgr to get service.
   * restore the DISPLAY variable after the import of gaudimodule.
   * rm the gbl variable.

-2006-01-16 - Guy Barrand
 - source/Rich.cxx : rm uncessary includes.
 - source/Callbacks.cxx, scripts/OnX/Scene.onx : rm
   outdated poster and gauss_example callback.
 - source/Migrate.h : to help migration to OSC_15 of Layouts.cxx.

-2006-01-05 - Guy Barrand
 - Prepare migration to run over OSC-15. Modifications are protected
   with cpp macro OSC_VERSION_15_0.

! 2006-01-04 - Guy Barrand
 - scripts/Python/Panoramix.py :
   Have two elements in list sys.arg, then : sys.arg = ['Panoramix','-b']. This
   permits to really pass '-b' correctly to ROOT.py. With that ROOT do not
   activate any X11.
 - scripts/Python/Panoramix.py :
   Modifs in the Inventnor defs in order to avoid using methods returning
   void*. This needs the "Helper" material of the OnXSvc and InventorSvc
   dicts.
 - with all the upper examples/Python/gb_inventor.py works with Gaudi/v17r2
   related code.
 - scripts/Python/Panoramix.py : have camera_pointAt and camera_lookAt
   to demonstrate how to activate SoUtils::SoTools::pointAt and lookAt
   methods.

! 2005-12-15 - Thomas Ruf
 - source/Callbacks, added support for displaying track objects
! 2005-12-12 - Guy Barrand
 - examples/Python/gb_inventor.py, Test.onx : a simple Inventor example
   that creates a cube and a cylinder from Python.
 - scripts/Python/Panoramix.py : inventor procedures : iv_create, iv_set_float,   region_camera, etc...
 - source/Callbacks : rm unecessary includes.

!=========================== OnXSvc v8r0 ================================
! 2006-03-09 - Guy Barrand
- displace SoUtils_initClasses into Panoramix_initialize callback.
  (This permits to start also the program from the onx.exe program).
- IUserInterfaceSvc : disconnect the HepPoint3 related things for
  the Panoramix/v13r0. Not clear what is the replacement of it.
- OnXSvc::ls : hanle /dd.

! 2006-02-22 - Guy Barrand
- Use SoUtils_initClasses() to initialize all the SoUtils Inventor nodes.
  Done in OnXSvc::initialize().

! 2006-02-03 - Guy Barrand
- OnXSvc : initialize SoUtils::SoMarkerSet Inventor class.

! 2006-01-25 - Guy Barrand
 - OnXSvc.h : have a Caster::cast(IManager,std::string&) to cast
   correctly a IManager toward a ITypeManager (which is not a IManager).

! 2005-12-13 - Guy Barrand
 - mv dict/InventorSvcDict.h, iv.i to SoUtils.
 - mv SoTools to Vis/SoUtils.

! 2005-12-12 - Guy Barrand
 - requirements - build InventorSvcDic
 - dict/InventorSvcDict.h, iv.i - to declare a subset of Inventor to the dict
   system.

!======================== SoCalo v7r0 2006-03-13 ===========================
! 2006-03-09 - Olivier Deschamps
 - Migration to  mathCore/SMatrix + LHCb::namespace
 - increment the version to v7r0

-2006-01-05 - Guy Barrand
 - Prepare migration to run over OSC-15. Modifications are protected
   with cpp macro OSC_VERSION_15_0.

!========================= SoDet  v6r0 ======================================
- 2006-03-09 - Guy Barrand
  . Detector.onx : handle new detector model.
  . SoDet.opts : +DLLS DetDesc -> DetDescSvc.
  . SoDet.opts : have : ExtSvc += { "DetDataSvc/DetectorDataSvc" };

- 2006-03-08 - Florence Ranjard
  adapt code to MathLib

- 2006-01-16 - Guy Barrand
 - use STATIC_SCENE, DYNAMIC_SCENE defined in OnXSvc/Migrate.h to help
   migration to OSC_15.

 2006-01-15 - Guy Barrand
 - SoDetConverter.cpp : slight modif for OSC-15
   (add include SoEventCallback.h).

!=========================== SoEvent v6r0 =================================
! 2006-03-14 - Florence Ranjard
 - remove from SoEventDict.h the nolonger existing include files
   prefix LHCb classes with LHCb::
 - comment out the REC and PHYS code as long as PHYS and REC are not available.

! 2006-03-09 - Guy Barrand
 - First wave of modifs to hanle LHCB_20 event model changes.
   Roughtly disconnect problematic code. At least try to recover
   MCParticle visualization...

! 2006-03-07 - Florence RANJARD
 - rm IParticleTransporter.h which belongs to PhysEvent
 - rm SoTrStoreTrackCnv, TrgTrackType, SoTrgTrackCnv, TrStateType,
   TrStoredTrackType, SoTrStateLCnv, SoTrStatePCnv.

! 2006-02-03 - Guy Barrand
- SoTrStoredTrack : fall on some OTMeasurement without "time", then crash.
  Review the code and heavily protect the various returned pointers around.
- "dynamic" -> DYNAMIC_SCENE for OSC_15.
- rm the ^M coming from some Windows user in :
  SoTrackCnv.h, TrackType.h, ITClusterType.cpp OTTimeType.cpp SoEventSvc.cpp.

-2005-12-15 - Thomas Ruf
 - added conversion for new tracks, TrackType and SoTrackCnv
 - added some more types to ITCluster and OTtime
 - minor modification to SoTrgTrackCnv to avoid crashed when no Truck to convert
-2005-12-13 - Guy Barrand
 - use the SbProjector of Vis/SoUtils (having the SoUtils namespace instead
   of the HEPVis one).
 - mv SbProjector into Vis/SoUtils.

!========================== SoHepMC v5r0 ==================================
! 2006-02-08 - Guy Barrand
 - SoHepMCEventCnv.cpp, Types.cpp : use LHCb namespace.

! 2006-01-06 - Guy Barrand
 - Types.cpp - cleanup

!====================== SoRich v3r0 2006-03-14 ==========================
! 2006-03-12 - Chris Jones
 - Updates for LHCB v20r0

! 2006-02-03 - Guy Barrand
- So*Cnv.cpp : "dynamic" -> DYNAMIC_SCENE for OSC_15.

! 2006-01-05 - Guy Barrand
 - rm unnecessary include of HEPVis SoTextTTF.h

! 2005-12-16 - Chris Jones
 - Add DLL loading for RichCondition
 - Update Convertor base class to fix tool loading problems

! 2005-12-11 - Chris Jones
 - Comment out release of tool registry in base class as this can cause
   a crash, due to the order services get finalised in Panoramix.
   Technically, means a tool is not properly released, but better than
   a crash I guess :(

!=========================== SoRichREc v3r0 2006-03-14 =======================
! 2006-03-12 - Chris Jones
 - updates for LHCb v20r0

! 2006-02-03 - Guy Barrand
- So*Cnv.cpp : "dynamic" -> DYNAMIC_SCENE for OSC_15.

! 2006-01-05 - Guy Barrand
 - rm unecessary  HEPVis include files

! 2005-12-16 - Chris Jones
 - Update options to move MC parts to seperate file

!========================= SoStat v5r0 ====================================
! 2005-01-05 - Guy Barrand
 - Prepare OSC_15. Do things in order to be still compatible with OSC_12.

!=========================== SoUtils v2r0 =================================
! 2006-09-03 - Olivier Deschamps
- migration to LHCb v20r0
- incomplete (some lines commented) - to be reviewed

! 2005-02-22 - Guy Barrand
- Add SoInit.cpp with the extern "C" SoUtils_initClasses to initialize
  the SoUtils Inventor nodes. It is used in the OnXSvc::initialize.
- Add the SoRulerRegion nodekit. It needs OSC_15. It permits to dress
  a SoDisplayRegion with rulers. It is a namespace-protected copy
  of the head of HEPVis. It should be removed whence having OSC-16.

! 2005-02-02 - Guy Barrand
- InventorSvcDict : WIN32 : be able to build the DLL.
    Untrick the "#define [protected,private] public" trick of
  the generated InventorSvcDict_dict.cpp file.
    Else we can't link to Inventor on Windows
  because VisualC++ differenciates the privacy attribute
  in its mangling (g++ on Linux and Mac don't).
  It seems that for protected or private virtual method,
  VisualC++ puts some reference of them in the .obj file
  even if these methods are not directly used in the .cpp
  and then the awfull "#define protected public" added
  to the fact that VisualC++ differenciate public/protected
  in the mangling induces that it was not possible to link
  the DLL to Inventor.

! 2005-12-13 - Guy Barrand
 - Move SbProjector from SoEvent to SoUtils. For it, have SoUtils namespace
   instead of HEPVis.
 - SoTools : namespace it with SoUtils to prepare migration to OSC-15.
 - Win32.h : have a local copy of it (from OnXSvc) in order to have SoUtils
   over Vis/OSCONX and not on Vis/OnXSvc.
 - requirements : use OSCONX instead of OnXSvc.

!===========================================================================
<H1><A NAME="v12r0">2005-12-07 - Panoramix v12r0</A></H1><PRE>

!==================== Panoramix v12r0 2005-12-05 ============================
                    built with Gaudi_v17r2, LHCb v19r2, Lbcom v3r1
  needs mods in ROOT.py, PyCintex.py which are put in GaudiPython/v8r1p1/Python
  needs also some fix in liblcg_Cintex.so which has been included in
  GaudiPython/v8r1p1/slc3_ia32_gcc323.
  This changes could be included in the next ROOT release expected next week

! 2005-12-05 - Florence RANJARD
 - scripts/Python - add sessionMgr.py
 - examples/Python - add DetDescVis.py
 - options - add DetDescVis.opts
 - requirements - make tag Phys and Rec optional.
                  by default Panoramix is linked with Lbcom only
                  to activate Rec or/and Phys:
                  edit the requirements file and uncomment the line
                   #apply_tag Rec or/and #apply_tag Phys

!========================== SoEvent v5r4 ================================
! 2005-12-08 - Florence RANJARD
 - requirements - build dictionary with reflex

!=========================== OnXSvc v7r3 ================================
! 2005-12-08 - Florence Ranjard
 - requirements - add "--reflex" to build the dictionary
                - remove unnecessary pattern

!=======================================================================
<H1><A NAME="v11r5">2005-11-09 - Panoramix v11r5</A></H1><PRE>
 - Panoramix v11r5 is built with Lbcom v2r5, LHCb v18r9, Gaudi v16r5
   it works with Phys v1r5 and Rec v1r5
!========================== OnXSvc v7r2 =================================
! 2005-11-09 - Florence Ranjard
 - remove use of SoUtils to avoid circular dependency
 - move SoTools.h and .cpp from SoUtils to OnXSvc
 - modify OnXSvc.cpp to include SoTools from OnXSvc

! 2005-10-20 - Thomas Ruf
 - add macro_append OnXSvc_shlibflags " $(OSCIV_linkopts)" to requirement
   file, needed when using OSC-12 HEPVis package
! 2005-10-20 - Guy Barrand
 - rm IUserInterfaceSvc::visualize(ContainedObject*). The visualization
   of per ContainedObject from Python is going to be done by using
   the SoEvent dictionary and the template SoEvent::SoConverter::visualize
   (see SoEvent/dict/SoEventDict.h).
     See Panoramix/examples/Python/gb_vis_one_mcparticle.py for an example.

! 2005-10-18 - Guy Barrand
 - Add IUserInterfaceSvc::visualize(const HepPoint3D&);
   and IUserInterfaceSvc::visualize(const std::vector<HepPoint3D>&,RepType);
   to visualization of HepPoint3D and std::vector<HepPoint3D>.

!=========================== SoEvent v5r2 =================================
-2005-08-25 - Jamie Tattersall
 - Types.cpp, correct Linker table for the different trgtrack types
-2005-08-22 - Thomas Ruf
 - Types.cpp, corrected bug for calculating r for a velocluster
-2005-07-25 - Thomas Ruf
 - SbProjector.cxx, SbProjector.h - added
 - requirements - modified to use SbProjector
 - all done to have signed RZ projection which does not yet exist in
   OpenScientist

!=========================== SoUtils v1r2 =================================
! 2005-10-18 - Guy Barrand
 - Add SoTools.h, SoTools.cpp from HEPVis/v6r5p2 not yet used in
   Panoramix. It is used in OnXSvc to ease visualization of HepPoint3D
   and std::vector<HepPoint3D>

!=======================================================================
<H1><A NAME="v11r4">2005-07-27 - Panoramix v11r4</A></H1><PRE>
 - Panoramix v11r4 is built with Lbcom v2r4, LHCb v18r8, Gaudi v16r5
   it works with Phys v1r4 and Rec v1r4

 - In Panoramix v11r4:
   . requirements - add RECSYS to run full Brunel
                  - remove seal from PYTHONPATH and add root instead
                  - add several packages required to read dictionaries
   . provide opts files for running on DST and RAW events
   . added gaudigadgets to example/Python directory

 - In SoEvent v5r2:
   . Added SbProjector.cxx, SbProjector.h (also in requirements) to have
     signed RZ projection which does not yet exist in OpenScientist

!==========================================================================
<H1><A NAME="v11r3">2005-07-20 - Panoramix v11r3</A></H1><PRE>
 - Panoramix v11r3 is built with Lbcom v2r3, LHCb v18r7, Gaudi v16r4
   it works with Phys v1r3 and Rec v1r3

!========================= SoRich v2r2 2005-07-20 =========================
! 2005-07-20 - Christopher Rob Jones
 - Fixes for new RICH code

!======================== SoRichRec v2r2 2005-07-13 ==========================

! 2005-07-20 - Christopher Rob Jones
 - Fixes to option files for new RICH REC code

! 2005-07-13 - Chris Jones
 - Add work arounds for missing includes in RichRecBase reconstruction event
   model data objects. Will be fixed at source.

!=========================== SoEvent v5r1 =================================
-2005-07-14 - Thomas Ruf
 - Types.cpp - suppress error message if MC info (Linker) is not found
 - SoTrgTrackCnv.cpp - support -RZ projection for Rtracks, correct end start
   point for tracks in RZ projection

!=========================== Panoramix v11r3 ==============================
! 2005-07-14 - Thomas Ruf
- updated and added more python scripts, vertex & trigger info, plot of
   different types of trgtracks

! 2005-07-12 - Florence Ranjard
- use XmlDDDB v26r0
- options/PanoramixCommon.opts - include POOL persistency include files

!=============================================================================
<H1><A NAME="v11r1">2005-06-17 - Panoramix v11r1</A></H1><PRE>
! 2005-06-17 - Florence Ranjard
 - Panoramix v11r1 is built with Lbcom v2r2, LHCb v18r6, Gaudi v16r4
   it works with Phys v1r2 and Rec v1r2

!===========================================================================
<H1><A NAME="v11r0">2005-06-01 - Panoramix v11r0</A></H1><PRE>
! 2005-04-15 - Florence Ranjard
 - Panoramix v11r0 is built with Lbcom v2r1, LHCb v18r5, Gaudi v16r4
   it works with Phys v1r1 and Rec v1r1
 - it requires changes in SoDet and SoEvent to cope with CLHEP 1.9.1.2 and
   new OT Event Model and new Velo detector element
 - the options file has been updated as well to cope with changes in packaging.
 - introduce in doc/ the LHCb standard DoxyFile.cfg and release_notes.html

!=========================== SoUtils v1r1 =================================
! 2005-04-15 - Florence RANJARD
 - Ellipsoid.cpp, EllipticalPrism.cpp - update to CLHEP 1.9.1.2

!========================= SoDet v5r0 ======================================
 2005-04-13 - Florence RANJARD
 - SoDetConverter.h, .cpp - adapt to CLHEP 1.9
 - doc - remove releasenotes.html, introduce release.notes

!=========================== SoEvent v5r0 =================================
-2005-04-12 - Florence Ranjard
 - doc - remove releasenotes.html , introduce release.notes as all other
         LHCb projects

-2005-04-12 - Olivier Callot
 - Adapt to OTCluster -> OTTime change (SoOnStoredTrack), and to the new
   DeVelo interface for zoneOfStrip and rOfStrip (SoTrgTrackCnv and Types)
 - Remove some compilation warnings in Types.cpp

-2005-04-11 - M.Tobin
 -src/VeloCluster.h, SoVeloClusterCnv.cpp - adapt to VeloDet v9 : it is not
  backward compatible.

-2005-04-11 - J.Nardulli
 -src/SoTrStoredTrackCnv.cpp - adapt code to new CLHEP and new OT Event Model

!========================== SoHepMC v4r5 ====================================
! 2005-04-15 - Florence RANJARD
 - introduce LHCb standard release.notes

!========================= SoStat v4r5 ====================================
! 2005-04-15 - Florence RANJARD
 - replace releasenotes.html with standard LHCb release.notes

!===========================================================================
<H1><A NAME="v9r4">2005-03-14 - Panoramix v9r4</A></H1><PRE>
! 2004-03-14 - Florence Ranjard
 - Panoramix v9r4 is built with LHCb v16r4 and works with DaVinci v12r8
   and Brunel v24r4

!========================= SoEvent v4r9 ====================================
!2005-03-10 - M.Witek, W.Manner
 - add SoEvent/SoTrgTrackCnv.h
 - add src/SoTrgTrackCnv.cpp, TrgVertexToContainer.cpp and .h
 - modify src/SoEventSvc.cpp, SoVeloClusterCnv.cpp, SoVertexCnv.cpp, Types.cpp

!======================================================================================
<H1><A NAME="v9r3">2005-02-24 - Panoramix v9r3</A></H1><PRE>
! 2004-02-24 - Florence Ranjard
 - Panoramix v9r3 is built with LHCb v16r4 and works with DaVinci v12r7
   and Brunel v24r4

!===========================================================================
<H1><A NAME="v9r2">2004-11-01 - Panoramix v9r2</A></H1><PRE>
! 2004-11-01 - Florence Ranjard
 - Panoramix v9r2 is built with LHCb v16r3 and works with DaVinci v12r3
   and Brunel v24r3

!=========================================================================
<H1><A NAME="v9r1">2004-09-22 - Panoramix v9r1</A></H1><PRE>

! 2004-09-22 - Florence RANJARD
 - Panoramix v9r1 is built with LHCb v16r2 and works with DaVinci v12r1
   and Brunel v24r2

!=========================================================================

<H1><A NAME="v9r0">2004-08-26 - Panoramix v9r0</A></H1><PRE>

   PanoramixEnv v9r0 sets CMTPATH to access Panoramix, DaVinci and Brunel
   compatible environment
   IT IS NOLONGER NECESSARY to set PanoramixEnv + DaVinci (or Brunel)
   It is therefore possible to use any package available in DaVinci and
   Brunel

   to run the job options are they are set
   > cd cmtuser
   > PanoramixEnv v9r0
   > getpack Vis/Panoramix v9r0
   > cd Vis/Panoramix/v9r0/cmt
   > source setup.csh
   > gmake
   > panoramix

! 2004-08-26 - Florence RANJARD
 - options - remove ROOT I/O

 - requirements - adapt to Gaudi v15r*
                  use RichRecBase to compile SoRichRec
                  introduce a DaVinci tag to use Phys/DaVinci
                  introduce a Brunel tag to use some Brunel packages
                  To NOT use DaVinci remove the line : apply_tag DaVinci
                  if you don't need any Brunel package in your application
                  you can remove the line : apply_tag Brunel
                  set Panoramix as an alias to
                  ../${BINDIR}/Panoramix_main.exe ../options/Panoramix.opts

 - scripts/OnX/File.onx - change file name from *.oo* to *.*

!========================================================================

<H1><A NAME="v8r6">2004-08-23 - Panoramix v8r6</A></H1><PRE>
   is based on LHCb v15r14
! 2004-08-23 - Florence Ranjard
  uses ParamFiles v3r8

! 2004-07-02 - Chris Jones
  Fix bug in scripts/sh/Panoramix (Panoramix.exe should be
  Panoramix_main.exe)

!========================================================================
<H1><A NAME="v8r5">2004-05-13 - Panoramix v8r5</A></H1><PRE>
! 2004-06-09 - Guy Barrand
  Modify Panoramix.opts and requirements to have SoRich and SoRichRec.
  Reshuffle Panoramix.opts to group together all data (event) related
  things. Group together things related to Brunel run time packages.
  The same for cmt/requirements.
  In Panoramix.opts, restore the IT,OT, Velo clustering.
  Isolate the layout callbacks in source/Layout.cpp.
  Have source/Rich.cpp for some common Rich callbacks.
  Move Rec.onx from SoEvent into Panoramix.
  Have a scripts/OnX/RICH.onx for the RICH.

! 2004-05-13 - Thomas Ruf
  built with LHCb v15r8
  adapted Callbacks.cpp to new CALO cluster addresses

!=========================================================================
<H1><A NAME="v8r4">2004-04-27 - Panoramix v8r4</A></H1><PRE>
! 2004-04-27 - Florence Ranjard
  built with LHCb v15r8
  use EventSys in SoEvent

!=========================================================================
<H1><A NAME="v8r3">2004-04-23 - Panoramix v8r3</A></H1><PRE>
! 2004-04-23 - Guy Barrand
  add the code in SoDet, SoEvent, Panoramix to draw MCParticle to
  TrStoredTrack association.

! 2004-04-16 - Florence Ranjard
  built with LHCb v15r7 which uses Gaudi v14r5
  update options files
  remove several obsolete scripts

!===========================================================================
<H1><A NAME="v8r2">2004-04-16 - Panoramix v8r2</A></H1><PRE>
! 2004-04-16 - Florence RANJARD
 - doc/release.notes - add release.notes
 - doc/DoxyFile.cfg - move doxygen/Doxyfile to DoxyFile.cfg to allow mkproject
                      to work properly.

!=============================================================================
